@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

@import "node_modules/muicss/lib/sass/mui.scss";
@import "components/forms";
@import "components/colors";

$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

body {
  font-family: $open-sans;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $open-sans;
  font-weight: normal;
}

.supplier-details {
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
  background: #e2e2e2;
}

.edit-dashboard {
  margin-top: 50px;
  margin-left: 40%;
}

#providerFilelist, #outboundFilelist {
  margin-top: 20px;
  margin-bottom: 20px;
  resize: vertical;
  min-height: 400px;
}

#choutte-jobs {
  float: right;
}

.hidden {
  display: none;
}

.visible-wrapper {
   background: whitesmoke;
   padding: 10px;
   border: 1px solid silver;
   margin: 10px;
}

.jobstatus-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px;
}
