@import url(https://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

@import "../node_modules/muicss/lib/sass/mui.scss";
@import "components/forms";
@import "components/links";
@import "components/colors";
@import "components/Footer";
@import "components/buttons";
@import "helpers";

$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

body {
  font-family: $open-sans;
  font-weight: 500;
  background: #e5e5e5;
  font-family: $open-sans;
}

.description-title {
  margin-top: 20px;
  margin-left: 20px;
  font-weight: 600;
}

.supplier-info {
  background: #fff;
  padding-bottom: 20px;
  margin: auto;
  border: 1px solid #ccc;
  width: 98%;

  .supplier-details {
    margin-top: 30px;
    padding-bottom: 20px;
    padding-top: 20px;
  }

  .small-button {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
    font-size: 0.8em;
    color: #366dab;
    vertical-align: bottom;
  }
}

.suppliers-container {
  padding-top: 20px;
  width: 98%;
  margin: auto;
  > h1 {
    margin-bottom: 40px;
    font-weight: 500;
  }

  #select-supplier > select {
    background-color: #fff;
    text-indent:5px;
    background-size: 13px;
    background-position-x: 99%;
    max-width: 440px;
    display: inline-block;
  }
}

.new-provider {
  margin-top: 20px;
  cursor: pointer;
}

.filter-wrapper {

  &:first-child {
    border-bottom: 1px dotted #eee;
    padding-bottom: 10px;
  }
  &:last-child {
    padding-top: 10px;
  }
}

.multiselect {
  margin-top: 20px;
  margin-bottom: 20px;
  resize: vertical;
  min-height: 400px;
  font-size: 0.9em;
  overflow: auto;
  white-space: nowrap;
}

#choutte-jobs {
  float: right;
}

.hidden {
  display: none;
}

.visible-wrapper {
   background: whitesmoke;
   padding: 10px;
   border: 1px solid silver;
   margin: 10px;
}

.jobstatus-wrapper {
  margin-bottom: 20px;
  border: 1px solid #eee;
  padding: 10px;
}

.supplier-header {
  margin-left: 20px;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 40px;
  margin-bottom: 20px;
}

.mui--is-active {
  margin-top: 20px;
}

.mui-select > label {
  overflow-x: initial;
}

.long-text {
  word-break: break-all;
}

.table-header {
  font-weight: 600;
  cursor: pointer;
  margin-bottom: 10px;
}

.no-files {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}
