.subtle-button {
  display: inline-block;
  float: right;
  cursor: pointer;
  position: relative;
  top: -40px;

  &:first-child {
    margin-left: 8px;
  }

}

.button-group {
  margin-left: 17px;
}
