ol {
  margin-bottom: 20px;
  padding: 0;
}

li {
  list-style-type: none;
  cursor: pointer;
}

.active {
  background-color: #eeeeee;
}

.multiselect {
    text-indent: 5px;
    margin-bottom: 20px;
    min-height: 300px;
    min-width: 200px;
}

.multiselect:first-child{
  margin-left: 20px;
}

.multiselect:last-child {
  margin-right: 20px;
  margin-left: -40px;
}
