.supplier-details {
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid black;
  .supplier-header {
      margin-bottom: 20px;

      button.edit {
        display: inline-block;
        color: blue;
      }

      h3 {
        display: block;
        margin-left: 20px;
      }
  }

}
