.user-row {

  div {
    margin: 2px;
    margin-bottom: 5px;
    font-size: 0.9em;

  }

  .col-1-5 {
    width: 22%;
    max-width: 22%;
    min-width: 22%;
    display: inline-block;
  }

  .col-icon {
    width: 8%;
    display: inline-block;
  }

  .user-header {
    font-weight: 600;
    text-transform: uppercase;
    background: rgba(238, 238, 238, 0.28);
    margin-bottom: 5px;
  }

}